* {
    padding: 0;
    margin: 0;
}

:root {
    --white: #fff;
    --yellow: #d4923b;
    --dark: #000000;
    --grey: #a9afc3;
    --green: #00426b;
    --green: #198754;


}

.navbar {
    background-color: var(--green) !important;
}

.navbar-brand {
    color: var(--yellow) !important;
}

.navbar .active {

    color: var(--yellow) !important;
}

.nav-link{
    font-weight:normal;
    color: var(--white);
}
.carousel-caption {
    bottom: initial;
    top: 50%;
    transform: translateY(-50%);
}

/* .Services_cards{
    min-height: 300;
} */



.Services_cards .card {
    background-color: var(--green);
}

.Services_cards .card i {
    font-size: 50px;
    color: var(--yellow);
}

.about_Sect {
    width: 100%;
    min-height: 70vh;
    background-color: var(--green);
    display: flex;
    align-items: center;
}

.about_Sect hr {
    
    background-color: var(--yellow) !important;
    border: 3px solid var(--yellow) !important;
}

.about_icons {
    width: 60%;
    display: flex;
    justify-content: space-between;
    color: var(--white);
}

.about_icons i {
    font-size: 70px;
    color: var(--yellow);
}

.ourServices {
    width: 100%;
    min-height: 70vh;
    /* background-color: ; */
}

.ourServices i{
   font-size: 70px;
   border-right: #000000 4px solid;
   padding-right: 25px;
   color: var(--yellow);
}

.ourServices img {

    border: #00426b solid 10px;
}

.services_tab1{
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.ourServices a{
    text-decoration: none;
    color: #000000;
}

.ourServices a h2{
    color: var(--black);
}

.ourServices a p{
    color: var(--grey);
}

.footer{
    background-color: var(--green) !important;
}

.admis_Sect{
    width: 100%;
    min-height: 60vh;
    background-image: url('Assets/uniSect.jpg');
    background-repeat: no-repeat;
    /* background-position: center; */

}

.job_Sect{
    width: 100%;
    min-height: 60vh;
    background-image: url('Assets/hiring.jpg');
    background-repeat: no-repeat;
    /* background-position: center; */

}

.about_page_SEC{
    width: 100%;
    min-height: 60vh;
    background-image: url('Assets/About_Sec.jpg');
    background-repeat: no-repeat;
    /* background-position: center; */
    
}

.accordion-button {
    color: var(--white) !important;
    box-shadow: none !important;
    background-color: #0a8e51;

}

.accordion-button:focus {

    background-color: #0a8e51;

}

.accordion-header{
    background-color: var(--green);
}

.accordion-button.collapsed::after {
    color: #dd4242;
    filter: brightness(100%) invert(100%);

}


.accordion-button:not(.collapsed)::after {
    color: #dd4242;
    filter: brightness(100%) invert(100%);

}

.accordion-button:not(.collapsed) {
    background-color: var(--green) !important;
    color: var(--white) !important;
}

.accordion-item {
    border: 1px solid var(--green) !important;
}


.contact-form {
    background: #ffffff;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
  }

  .contact-form .form-control {
    border-radius: 1rem;
  }

  /* .contact-form form {
    padding: 14%;
  } */
/* 
  .contact-form .form-group {
    margin-bottom: 15px;
  } */

  .contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #28a745; /* Green color */
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;
  }

  .contact-form .btnContact:hover {
    background: #218838; /* Darker green on hover */
  }

  .contact-form .btnContactSubmit {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #28a745; /* Green color */
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;
  }

  .contact-form .btnContactSubmit:hover {
    background: #218838; /* Darker green on hover */
  }

  @media (max-width: 768px) {
    .contact-form {
      width: 90%;
      margin-top: 20%;
    }

    .contact-form form {
      padding: 10%;
    }
  }


.mapSect{
    width: 100%;
    background-color: var(--green);
}

.Contact_page_SEC{
    width: 100%;
    min-height: 60vh;
    background-image: url('Assets/contact.jpg');
    background-repeat: no-repeat;
    /* background-position: center; */ 
}

