* {
    padding: 0;
    margin: 0;
}

:root {
    --white: #fff;
    --yellow: #d4923b;
    --dark: #000000;
    --grey: #a9afc3;
    --green: #00426b;
    --green: #198754;


}

.navbar {
    background-color: var(--green) !important;
}

.navbar-brand {
    color: var(--yellow) !important;
}

.navbar .active {

    color: var(--yellow) !important;
}


.carousel-caption {
    bottom: initial;
    top: 50%;
    transform: translateY(-50%);
}

/* .Services_cards{
    min-height: 300;
} */



.Services_cards .card {
    background-color: var(--green);
}

.Services_cards .card i {
    font-size: 50px;
    color: var(--yellow);
}

.about_Sect {
    min-height: 70vh;
    background-color: var(--green);
    display: flex;
    align-items: center;
}

.about_Sect hr {
    background-color: var(--yellow) !important;
    border: 3px solid var(--yellow) !important;
}

.about_icons {
    width: 60%;
    display: flex;
    justify-content: space-between;
    color: var(--white);
}

.about_icons i {
    font-size: 70px;
    color: var(--yellow);
}

.ourServices {
    min-height: 70vh;
    /* background-color: ; */
}

.ourServices i{
   font-size: 70px;
   border-right: #000000 4px solid;
   padding-right: 25px;
   color: var(--yellow);
}

.ourServices img {

    border: #00426b solid 10px;
}

.services_tab1{
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.ourServices a{
    text-decoration: none;
    color: #000000;
}

.ourServices a h2{
    color: var(--black);
}

.ourServices a p{
    color: var(--grey);
}

.footer{
    background-color: var(--green) !important;
}

.admis_Sect{
    width: 100%;
    min-height: 60vh;
    background-image: url('Assets/uniSect.jpg');
    background-repeat: no-repeat;
    /* background-position: center; */

}

.job_Sect{
    width: 100%;
    min-height: 60vh;
    background-image: url('Assets/hiring.jpg');
    background-repeat: no-repeat;
    /* background-position: center; */

}